<h3><i class="fa fa-server"></i> &nbsp; Questions</h3>

<br/>
<button ng-click="tablequestions.filter({})" class="btn btn-sm pull-right" style="padding:10px;">Clear Filter</button>
    <table ng-table="tablequestions" class="table table-striped table-bordered" show-filter="true">

        <tr ng-repeat="question in $data">
            <td data-title="'Name'" class="align-left" filter="{ 'name': 'text' }">
                {{question.name}}
            </td>
            <td>
              <a href="#/questions/config/{{question.$id}}" class="btn btn-xs btn-primary"><i class="fa fa-puzzle-piece"> </i></a>
            </td>
        </tr>

    </table>
    <a href="#/questions/create" class="btn btn-sm btn-primary pull-left" style="padding:10px;"><i class="fa fa-lg fa-plus"></i> &nbsp;Create question</a>

</div>
