<div style="padding-bottom:16px;">
  <h3><i class="fa fa-lightbulb-o"></i> &nbsp; Questions</h3>
</div>


<table ng-table="tablequestions" class="table " show-filter="false">

  <tr ng-repeat="question in $data | orderBy:'question.votes'">

    <td>
      <div class="col-lg-2 col-md-4">
        <div class="entity_stats_display">
          <div>
            {{question.votes || 0}}
          </div>
          <div>
            votes
          </div>
        </div>
        <div class="entity_stats_display">
          <div>
            {{question.commentCount || 0}}
          </div>
          <div>
            comments
          </div>
        </div>
        <div class="entity_stats_display">
          <div>
            {{question.views || 0}}
          </div>
          <div>
            views
          </div>
        </div>

      </div>
      <div class="col-lg-10 col-md-8">
        <div>
          <a href="#/questions/{{question.$id}}" class="entity_title">{{question.title}}</a>
          <a ng-if="user.getId() == question.userId" href="#/questions/edit/{{question.$id}}" class="btn btn-xs btn-primary"><i class="fa fa-puzzle-piece"> </i></a>
          <a ng-if="user.getId() == question.userId" href="" ng-click='delete(question)' class="btn btn-xs btn-warning"><i class="fa fa-trash-o"> </i></a>
        </div>

        <div ng-repeat="(id, tag) in question.tags" class="tags tag-box">
          <a href="#/tagged/{{tag.text}}" title="show questions tagged '{{tag.text}}'" rel="tag">{{tag.text}}</a>
        </div>
        <div class="created_by_place">
          <a href="#/directory/user/{{question.userId}}">{{users.getDisplayName(question.userId)}}</a> | {{question.createdAt | date:'yyyy-MM-dd HH:mm'}}
        </div>
      </div>
    </td>
  </tr>
</table>

<div class="row">
  <a href="#/questions/create" class="btn btn-sm btn-primary pull-left" style="padding:10px;"><i class="fa fa-lg fa-plus"></i> &nbsp;ASK A QUESTION</a>
</div>
