<style>
  .input-element{
    width: 400px;
    height: 400px;
    text-align: left;
  }
</style>

<div class="well" ng-init="getQuestion()">
  <h2>{{question.title}}</h2>
  <h4>
    <span class="btn btn-info">Views: {{question.views || 0}}</span> &nbsp;
    <span ng-click="upVote()" class="btn btn-success">Up Votes: {{question.upvotes.length || 0}}</span> &nbsp;
    <span ng-click="downVote()" class="btn btn-warning">Down Votes: {{question.downvotes.length || 0}}</span>
  </h4>
  <p>
  <div ta-bind ng-model="question.content" ></div>
  </p>

  <p>Tags:
  <span ng-repeat="(id, tag) in question.tags">
    <a href="/questions/tagged/{{tag.text}}" title="show questions tagged '{{tag.text}}'" rel="tag" id="A_19">{{tag.text}}</a>
  </span>
  </p>

</div>

<a href="#/questions" class="btn btn-sm btn-default">Back</a>
<a ng-if="user.getId() == question.userId" href="#/questions/edit/{{question.$id}}" class="btn btn-sm btn-success"><i class="fa fa-pencil-square-o"> Edit</i></a>
<a ng-if="user.getId() == question.userId" href="" ng-click='delete(question)' class="btn btn-sm btn-warning"><i class="fa fa-trash-o"> Delete</i></a>

<div class="list-group" style="padding-top: 18px;">
  <div class="list-group-item" ng-repeat="(key, answer) in question.answers">
    <label>{{users.getDisplayName(answer.userId)}}</label>
    <label style="font-weight: normal; font-size: 12px; color: grey;">{{question.createdAt | date:'yyyy-MM-dd HH:mm'}}</label>
    <a ng-if="user.getId() == question.userId" href="" ng-click='deleteAnswer(key)' class="btn btn-xs btn-warning"><i class="fa fa-trash-o"> </i></a>
    <div ta-bind ng-model="answer.content" ></div>
  </div>
</div>

<label for="textAreaDescription">Post an answer</label>
<div text-angular id="textAreaDescription" ng-model="answerContent" ></div>
<a ng-click='addAnswer();answerContent=null' class="btn btn-sm btn-success"><i class="fa fa-comment-o"> Answer</i></a>
