<div class="page-wrapper">

  <div class="page-header">
      <span class="text-center">
      <p><img style="height:256px; width:300px;" src="images/retrofire.png" /></p>
      <h1>Retrofire</h1>
        <p class="lead">Ignite creative sparks and stoke team innovation.</p>
      </span>
  </div>

  <div ng-show="authCtrl.error">
    <span>{{ authCtrl.error.message }}</span>
  </div>


  <form class="form-inline text-center" ng-submit="authCtrl.resetPassword()">
    <div class="input-group">
      <input type="email" class="form-control" placeholder="Email" ng-model="authCtrl.user.email">
    </div>
    &nbsp;&nbsp;
    <button type="submit" class="btn btn-success" >Password Reset</button>
    <br><br><br><a href="#/login">Did you remember your password!</a>
  </form>

  <!--<a ng-click="authCtrl.google()" class="btn btn-default">Google Auth</a>-->
  <hr>

  <!-- Title -->
  <div class="row text-center">
      <div class="col-lg-12">
          <h2>Features</h2>
          <br>
      </div>
  </div>

  <!-- Features -->
  <div class="row">
      <div class="col-md-4">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h3><i class="fa fa-lg fa-fire"></i> Answer Burning Questions</h3>
              </div>
              <div class="panel-body">
                  <p>
                    Quickly put out the fires that are of greatest interest to your team!
                    Give visibility to the questions that need very much to be answered.
                  </p>
                  <a href="#/about" class="btn btn-default">Learn More</a>
              </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h3><i class="fa fa-lg fa-lightbulb-o"></i> Spark New Ideas</h3>
              </div>
              <div class="panel-body">
                  <p>Turn up the lights and shine a spotlight on the creativity in your organization!
                    Give visibility to the new ideas that your team generates everyday.
                  </p>
                  <a href="#/about" class="btn btn-default">Learn More</a>
              </div>
          </div>
      </div>
      <div class="col-md-4">
          <div class="panel panel-default">
              <div class="panel-heading">
                  <h3><i class="fa fa-lg fa-newspaper-o"></i> Fuel Knowledge Transfer</h3>
              </div>
              <div class="panel-body">
                  <p>Knowledge is the kindling that sets change into motion!
                  Give visibility to the thought leaders who fuel innovation on your team.</p>
                  <a href="#/about" class="btn btn-default">Learn More</a>
              </div>
          </div>
      </div>
  </div>
  <!-- /.row -->

</div>
