<div style="padding-bottom:16px;">
    <h3><i class="fa fa-lightbulb-o"></i> &nbsp; Ideas</h3>
</div>


<table ng-table="tableIdeas" class="table " show-filter="false">

    <tr ng-repeat="idea in $data | orderBy:'idea.votes'">

        <td>
            <div class="col-lg-2 col-md-4">
                <div class="entity_stats_display">
                    <div>
                        {{idea.votes || 0}}
                    </div>
                    <div>
                        votes
                    </div>
                </div>
                <div class="entity_stats_display">
                    <div>
                        {{idea.commentCount || 0}}
                    </div>
                    <div>
                        comments
                    </div>
                </div>
                <div class="entity_stats_display">
                    <div>
                        {{idea.views || 0}}
                    </div>
                    <div>
                        views
                    </div>
                </div>

            </div>
            <div class="col-lg-10 col-md-8">
                <div>
                    <a href="#/ideas/{{idea.$id}}" class="entity_title">{{idea.title}}</a>
                    <a ng-if="user.getId() == idea.userId" href="#/ideas/edit/{{idea.$id}}" class="btn btn-xs btn-primary"><i class="fa fa-puzzle-piece"> </i></a>
                    <a ng-if="user.getId() == idea.userId" href="" ng-click='delete(idea)' class="btn btn-xs btn-warning"><i class="fa fa-trash-o"> </i></a>
                </div>

                <div ng-repeat="(id, tag) in idea.tags" class="tags tag-box">
                    <a href="#/tagged/{{tag.text}}" title="show questions tagged '{{tag.text}}'" rel="tag">{{tag.text}}</a>
                </div>
                <div class="created_by_place">
                    <a href="#/directory/user/{{idea.userId}}">{{users.getDisplayName(idea.userId)}}</a> | {{idea.createdAt | date:'yyyy-MM-dd HH:mm'}}
                </div>
            </div>
        </td>
    </tr>
</table>

<div class="row">
    <a href="#/ideas/create" class="btn btn-sm btn-primary pull-left" style="padding:10px;"><i class="fa fa-lg fa-plus"></i> &nbsp;LAUNCH AN IDEA</a>
</div>
