<h3><i class="fa fa-server"></i> &nbsp; Ideas</h3>

<table ng-table="tableIdeas" class="table " show-filter="false">

    <tr ng-repeat="idea in $data">

        <td>

            <div class="result_block">
                <div class="metric_container">
                    <div class="metric_display">
                        <div class="DIV_4">
                            <span>{{idea.votes || 0}}</span>
                        </div>
                        <div class="DIV_6">
                            votes
                        </div>
                    </div>
                    <div class="metric_display">
                        <div class="DIV_4">
                            <span>{{idea.comments.size || 0}}</span>
                        </div>
                        <div class="DIV_6">
                            comments
                        </div>
                    </div>
                    <div class="metric_display">
                        <div class="DIV_4">
                            <span>{{idea.views}}</span>
                        </div>
                        <div class="DIV_6">
                            views
                        </div>
                    </div>
                </div>
                <div class="DIV_15">
                    <h3 class="displayTitle">

                        <a ng-if="user.getId() == idea.userId" href="#/ideas/edit/{{idea.$id}}" class="btn btn-xs btn-primary"><i class="fa fa-puzzle-piece"> </i></a>
                        <a ng-if="user.getId() == idea.userId" href="" ng-click='delete(idea)' class="btn btn-xs btn-warning"><i class="fa fa-trash-o"> </i></a>
                        <a href="#/ideas/view/{{idea.$id}}" title="View Idea - {{idea.title}}" class="A_17">{{idea.title}}</a>

                    </h3>
                    <div class="DIV_18">
          <span ng-repeat="(id, tag) in idea.tags">
            <a href="/ideas/tagged/{{tag.text}}" title="show questions tagged '{{tag.text}}'" rel="tag" class="A_19">{{tag.text}}</a>
          </span>

                    </div>
                    <div class="metric_container1">
                        <span class="SPAN_23">{{idea.createdAt | date:'yyyy-MM-dd HH:mm'}}</span></a> <a href="#/directory/user/{{idea.userId}}" class="A_24">{{users.getDisplayName(idea.userId)}}</a>
                    </div>
                </div>
            </div>


        </td>


    </tr>

</table>


<div class="row">

    <a href="#/ideas/create" class="btn btn-sm btn-primary pull-left" style="padding:10px;"><i class="fa fa-lg fa-plus"></i> &nbsp;Start an Idea</a>

</div>
