
<form class="form-horizontal well" ng-init="getIdea()">
<fieldset>
  <h2>{{idea.title}}</h2>
  <p><strong>By</strong> <a href="#/directory/user/{{idea.userId}}">{{users.getDisplayName(idea.userId)}}</a>
    <br>{{idea.createdAt | date:'yyyy-MM-dd HH:mm'}}</p>

  <h4>
    <span class="label label-info">{{idea.views}} &nbsp;VIEWS</span> &nbsp;
    <span ng-click="vote.up(idea.$id)" class="btn btn-success">Up Votes: {{idea.upvotes.length || 0}}</span> &nbsp;
    <span ng-click="vote.down(idea.$id)" class="btn btn-warning">Down Votes: {{idea.downvotes.length || 0}}</span>
  </h4>
  <hr>
  <div class="form-group">
    <label for="inputTags" class="col-lg-1 control-label">Tags</label>
    <div class="col-lg-10">
      <tags-input disabled="true" ng-model="idea.tags">
      </tags-input>
    </div>
  </div>
  <br>
  <uib-tabset>
    <uib-tab>
      <uib-tab-heading> <i class="fa fa-newspaper-o"></i> Idea </uib-tab-heading>
      <br>

      <div class="form-group">
        <label for="inputContent" class="col-lg-1 control-label"></label>
        <div class="col-lg-10">
          <div ta-bind ng-model="idea.content" ></div>
        </div>
      </div>

      <br>
    </uib-tab>
    <uib-tab>
      <uib-tab-heading> <i class="fa fa-comment"></i> Comments </uib-tab-heading>
      <br>
      <div class="list-group" style="padding-top: 18px;">
        <a>
          <div class="list-group-item" ng-repeat="(key, comment) in idea.comments">
            <label>{{users.getDisplayName(comment.userId)}}</label>
            <label style="font-weight: normal; font-size: 12px; color: grey;">{{idea.createdAt | date:'yyyy-MM-dd HH:mm'}}</label>
            <a ng-if="user.getId() == comment.userId" href="" ng-click='comments.deleteComment(idea.$id, key)' class="btn btn-xs btn-warning"><i class="fa fa-trash-o"> </i></a>
            <div ta-bind ng-model="comment.content" ></div>
          </div>
        </a>
      </div>
      <div class="row">
        <br>
        <div class="col-lg-offset-1">
          <hr>
          <p class="lead">New Comment</p>
          <div class="form-group">
            <div class="col-lg-10">
              <div text-angular ng-model="newContent" ></div>
            </div>
          </div>
          <a href="" ng-click='comments.createComment(idea.$id, newContent); newContent=null' class="btn btn-sm btn-success"><i class="fa fa-plus"> </i> ADD COMMENT</a>
        </div>
      </div>
    </uib-tab>
  </uib-tabset>
  <hr>
  <div class="form-group">
    <div class="col-lg-10">
      <a href="#/ideas" class="btn btn-sm btn-default"><i class="fa fa-lg fa-arrow-left"></i> &nbsp;BACK</a>
      <a ng-if="user.getId() == idea.userId" href="#/ideas/edit/{{idea.$id}}" class="btn btn-sm btn-success"><i class="fa fa-lg fa-pencil-square-o"> &nbsp;EDIT</i></a>
    </div>
  </div>
  </uib-tabset>
</fieldset>
</form>

