
<form class="form-horizontal well" ng-init="getMemo()">
    <fieldset>
        <h2>{{memo.title}}</h2>
        <p><strong>By</strong> <a href="#/directory/user/{{memo.createdById}}">{{users.getDisplayName(memo.createdById)}}</a>
            <br>{{memo.createdAt | date:'yyyy-MM-dd HH:mm'}}</p>

        <h4>
            <span class="label label-info">{{memo.views}} VIEWS</span>
            <span ng-click="vote.up(memo.$id)" class="label label-success pointer">Up Votes: {{memo.upvotes.length || 0}}</span>
            <span ng-click="vote.down(memo.$id)" class="label label-warning pointer">Down Votes: {{memo.downvotes.length || 0}}</span>
        </h4>
        <hr>
        <div class="form-group">
            <label for="inputTags" class="col-lg-1 control-label">Tags</label>
            <div class="col-lg-10">
                <tags-input disabled="true" ng-model="memo.tags">
                </tags-input>
            </div>
        </div>
        <br>
        <uib-tabset>
            <uib-tab>
                <uib-tab-heading> <i class="fa fa-newspaper-o"></i> Memo </uib-tab-heading>
                <br>

                <div class="form-group">
                    <label for="inputContent" class="col-lg-1 control-label"></label>
                    <div class="col-lg-10">
                        <div ta-bind ng-model="memo.content" ></div>
                    </div>
                </div>

                <br>
            </uib-tab>
            <uib-tab>
                <uib-tab-heading> <i class="fa fa-comment"></i> Comments </uib-tab-heading>
                <br>
                <div class="list-group" style="padding-top: 18px;">
                    <a>
                        <div class="list-group-item" ng-repeat="(key, comment) in memo.comments">
                            <label>{{users.getDisplayName(comment.userId)}}</label>
                            <label style="font-weight: normal; font-size: 12px; color: grey;">{{memo.createdAt | date:'yyyy-MM-dd HH:mm'}}</label>
                            <a ng-if="user.getId() == comment.userId" href="" ng-click='comments.deleteComment(memo.$id, key)' class="btn btn-xs btn-warning"><i class="fa fa-trash-o"> </i></a>
                            <div ta-bind ng-model="comment.content" ></div>
                        </div>
                    </a>
                </div>
                <div class="row">
                    <br>
                    <div class="col-lg-offset-1">
                        <hr>
                        <p class="lead">New Comment</p>
                        <div class="form-group">
                            <div class="col-lg-10">
                                <div text-angular ng-model="newContent" ></div>
                            </div>
                        </div>
                        <a href="" ng-click='comments.createComment(memo.$id, newContent); newContent=null' class="btn btn-sm btn-success"><i class="fa fa-plus"> </i> ADD COMMENT</a>
                    </div>
                </div>
            </uib-tab>
        </uib-tabset>
        <hr>
        <div class="form-group">
            <div class="col-lg-10">
                <a href="#/memos" class="btn btn-sm btn-default"><i class="fa fa-lg fa-arrow-left"></i> &nbsp;BACK</a>
                <a ng-if="user.getId() == memo.createById" href="#/memos/edit/{{memo.$id}}" class="btn btn-sm btn-success"><i class="fa fa-lg fa-pencil-square-o"> &nbsp;EDIT</i></a>
            </div>
        </div>
        </uib-tabset>
    </fieldset>
</form>

