
<form class="form-horizontal well" ng-init="getMemo()">
  <fieldset>
    <legend>View Memo</legend>
<br>
    <uib-tabset>
        <uib-tab>
          <uib-tab-heading> <i class="fa fa-newspaper-o"></i> Memo </uib-tab-heading>
<br>
<p class="btn btn-primary">{{memo.views}} &nbsp;VIEWS</p>
<br><br>

    <div class="form-group">
      <label for="inputId" class="col-lg-1 control-label">Id</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="inputId" placeholder="id" ng-model="memo.$id" readonly>
      </div>
    </div>
    <div class="form-group">
      <label for="inputTitle" class="col-lg-1 control-label">Title</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="inputTitle" placeholder="title" ng-model="memo.title" readonly >
      </div>
    </div>
    <div class="form-group">
      <label for="inputContent" class="col-lg-1 control-label">Memo</label>
      <div class="col-lg-10">
        <div ta-bind ng-model="memo.content" ></div>
      </div>
    </div>
    <br>
  </uib-tab>
      <uib-tab>
        <uib-tab-heading> <i class="fa fa-comment"></i> Comments </uib-tab-heading>
        <br>
        ID: {{request.$id}}<br>
        CreatedAt: {{request.createdAt}}<br>
        CreatedBy: {{request.createdBy}}<br>
        <br>
        <hr>
      <p class="lead">Comments</p>
      <hr>
<div class="row">
  <div ng-repeat="comment in memoComments">
    <p><a href="#/directory/user/{{message.createdById}}">{{message.createdBy}}</a> | {{message.createdAt}}</p>
    <div class="well">
      <div ta-bind ng-model="memo.content" ></div>
      <br>
    </div>
    <br>
  </div>
</div>
    </uib-tab>
  </uib-tabset>
  <hr>
    <div class="form-group">
      <div class="col-lg-10">
        <a href="#/memos" class="btn btn-sm btn-default"><i class="fa fa-lg fa-arrow-left"></i> &nbsp;BACK</a>
        <a href="#/memos/edit/{{memo.$id}}" class="btn btn-sm btn-success"><i class="fa fa-lg fa-pencil-square-o"> &nbsp;EDIT</i></a>
      </div>
    </div>
  </uib-tabset>
  </fieldset>
</form>
