
<form class="form-horizontal well" ng-init="getMemo()">
  <fieldset>
<h3>{{memo.title}}</h3>
<p>By <a href="#/directory/user/{{memo.createdById}}">{{memo.createdBy}}</a>
  <br>{{memo.createdAt}}</p>

  <h4>
    <span class="label label-info">{{memo.views}} &nbsp;VIEWS</span> &nbsp;
    <span class="label label-warning"> # VOTES</span> &nbsp;
    <span class="label label-success"> # COMMENTS</span> &nbsp;
  </h4>
<hr>
<div class="form-group">
<label for="inputTags" class="col-lg-1 control-label">Tags</label>
<div class="col-lg-10">
    <tags-input disabled="true" ng-model="memo.tags">
      <!--<auto-complete source="getTags()"
                 addOnEnter="true"
                 onTagAdded="createTag($tag)"
                 min-length="1"
                 max-results-to-show="32"
                 ></auto-complete>-->
    </tags-input>
  </div>
</div>
<br>
    <uib-tabset>
        <uib-tab>
          <uib-tab-heading> <i class="fa fa-newspaper-o"></i> Memo </uib-tab-heading>
<br>

  <div class="form-group">
    <label for="inputContent" class="col-lg-1 control-label"></label>
    <div class="col-lg-10">
      <div ta-bind ng-model="memo.content" ></div>
    </div>
  </div>

</div>

    <br>
  </uib-tab>
      <uib-tab>
        <uib-tab-heading> <i class="fa fa-comment"></i> Comments </uib-tab-heading>
        <br>
        Created by <a href="#/directory/user/{{memo.createdById}}">{{memo.createdBy}}</a> on {{memo.createdAt}}</p>
        <br>
        <hr>
      <p class="lead">Comments</p>
      <hr>
<div class="row">
  <div ng-repeat="comment in memoComments">
    <p><a href="#/directory/user/{{message.createdById}}">{{message.createdBy}}</a> | {{message.createdAt}}</p>
    <div class="well">
      <div ta-bind ng-model="memo.content" ></div>
      <br>
    </div>
    <br>
  </div>
</div>
    </uib-tab>
  </uib-tabset>
  <hr>
    <div class="form-group">
      <div class="col-lg-10">
        <a href="#/memos" class="btn btn-sm btn-default"><i class="fa fa-lg fa-arrow-left"></i> &nbsp;BACK</a>
        <a href="#/memos/edit/{{memo.$id}}" class="btn btn-sm btn-success"><i class="fa fa-lg fa-pencil-square-o"> &nbsp;EDIT</i></a>
      </div>
    </div>
  </uib-tabset>
  </fieldset>
</form>
