
<div ng-controller="DashboardCtrl" eui-index="'memos'"><!-- ACTION: change to index name -->

   <div class="container-fluid">
       <h2><i class="fa fa-lg fa-search"></i> &nbsp;Search</h2>
       <hr><br>
       <div class="row">
           <div class="col-lg-3 col-lg-offset-1">
               <span class="lead"> Search by Tag</span>&nbsp; <eui-searchbox field="'tags'"></eui-searchbox> <br><br><!-- ACTION: change to field to search on -->
               <span class="lead"> Search by Title</span>&nbsp; <eui-searchbox field="'title'"></eui-searchbox><br><br>
               <span class="lead">Results Per Page</span>&nbsp;
               <select ng-model="indexVM.pageSize">
                   <option ng-repeat="item in [10, 20, 50, 100]">{{item}}</option>
               </select>
           </div>
           <div class="col-lg-2">
               <span class="lead"> Filter by Type</span>
               <eui-singleselect field="'tags'" size="5">
               </eui-singleselect>
           </div>
         </div>
         <br><hr>
         <div class="row">
           <div class="col-lg-10 col-lg-offset-1">

               <h1>Results</h1>
               <table class="table">

                   <tr ng-repeat="doc in indexVM.results.hits.hits">
                      <td>
                       {{doc._source._id}} | {{doc._source.title}} | <br>
                       {{doc._source | json | limitTo: 500}} <!-- OPTIONAL: display more meaningful data instead of json -->
                     </td>
                   </tr>

             </table>
               <eui-simple-paging></eui-simple-paging>
           </div>
       </div>
   </div>
</div>
